*{
    margin: 0px;
    padding: 0px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(76, 73, 73) ;

    position: sticky;
    top:0;
    z-index: 1;
    
    /* cursor: pointer; */

}
.navlistd{
    
    /* background-color:black ; */
    width: 70% ;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navlistd   li{
    /* background-color:black ; */
    
    list-style: none;
    padding: 20px 30px;
}
.navlistd li a{
    /* background-color:black ; */
   
    text-decoration:none;
    color: white;
    cursor: pointer;
}
.navlistd li a:hover{
     /* text-decoration:none; */
    color:#c4d156;
    /* background-color: green; */
    
} 
.navlistd  li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: green;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}
.navlistd  li a:hover ::after{
transform-origin: bottom left;
transform: scaleX(1);
}


.rightnav{
   /* margin: 0px; */
    width:30%;
    text-align: right;
    background-color : rgb(76, 73, 73);
}
.logo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%
    
}
.logo img{
    
    padding-bottom: 0px;
    width: 55px;
    border: 2px solid white;
    border-radius: 50px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    
}

.box-main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
}
#onuslogo{
    padding-bottom: 0px;
    width: 55px;
    border: 2px solid white;
    border-radius: 50px;
    
}
.firstsection{
    background: rgba(0,0, 0, 0.7) url('onsoffice.jpg'); 
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    /* width: 200vh; */
}
.firsthalf{
  
    justify-content : center;
    z-index: 98;
}
/* .secondhalf{
    width: 30%;
} */
.text-big{
    font-size: 43px;
    line-height: 1.2;
    word-break: break-word;
   text-align: center;
   
    padding-top: 180px;
    /* margin-top: 120px; */

  
    
   
    
}
.text-small{
  
    text-align: center;
    justify-content: center;
}
.buttons{
    margin-left: 610px;
    MARGIN-TOP: 15PX;
}

.newmybt {
    text-decoration: none;
    color: #ffffff;
   background-color: rgb(73, 170, 209);
    text-align: center;
}

div .getqutebt {
    
    padding-top: 18px; 
    text-align: center;
    justify-content: center;
   
}
.getqutebt a{
    font-size: 16px;
    padding: 12px;
    border: 2PX solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    
 
    
    
}

 
.newmybt:hover{
 background-color:rgb(7, 92, 142) ;  
}


.button .btnqu {
   
    z-index: 1;
}

.btn {
    font-size: 20px; 
    border: 2px solid white;
    border-radius: 10px;
    height: 28px;
    padding-right: 5px; 
    margin-left: 0px;
    margin-right: 5px;
}
.btn-sm{
     vertical-align: middle ; 
     padding-left: 0px;
} 
.btn:hover{
    background-color:rgb(41, 155, 221) ;
}




#up{
    text-align: center;
    /* color: blue; */
    margin-top: 30px;
    
    
    
}
 .updates .upunder  h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;  
}
.sectionsubTag{
    /* margin-bottom: 100px; */
}
.box{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    
   box-sizing: border-box;
 /* background-color: aqua; */
}

.updatessu2{
    text-align: center;
    /* margin-left: 15px;   */
    margin-top: 50px;
    /* margin-left: 120px; */
}
.updatessu2 video{
    border: 3px solid #c4d156;
    border-radius: 10px;

}
.updatessupre{
    /* margin-left: 197px; */
}
.updatesu {
    margin-left: 112px;
    font-family: poppins;
}
.newtextol ul {
    /* background-color:red; */
    width: 300px;
    
    margin: auto;
    justify-content: center;
    
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonials-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    /* font-size: 2.0rem; */
    margin-top: 30px;
    /* font-weight: 500; */
    padding: 10px 20px ;
   
}
.testimonial-heading h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto; 
}
.testimonial-heading span{
   /* font-size: 1.3rem; */
   margin-bottom: 10px;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;

}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;

}
.name-user{
    display: flex;
    flex-direction: column;

}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.client-comment p{
     font-size: 0.9rem;
     color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transform: all ease 0.3s;
}
@media(max-width:1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;

    }
}
@media(max-width:790px){
    .testimonial-box{
        width: 100%;

    }
    .testimonial-heading h1{
        font-size: 1.45rem;

    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;

    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
.sectiont{
    width: 100%;
    padding-bottom: 15px;
}
.sectiont .con1{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.con1 .title2{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.con1 .title2 h1{
    /* font-size: 35px; */
    /* color: #88941e; */

}
.con1 .title2  h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;           
}
.cont1{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    height: auto;
    width: 100%;
    border: 3px solid #c4d156;
    border-radius: 30px;
}
.cont1 .article h3{
    /* margin-top: 20px; */
    color: #a3a3a3;
    font-size: 17px;
}
.cont1 .article p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.cont1 .article .but {
    margin-top: 50px;
}
.cont1 .article .but a {
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.cont1 .article .but a:hover{
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}
.con1 .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.con1 .social i{
    color:  #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
 background-color:#f28f92;
 margin: 0px 5px;

    

}
.con1 .social i:hover{
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}

 


@media screen and (max-width:768px){
  .sectiont  .con1{
         width: 80%;
         display: block;
         margin: auto;
    }
    .cont1{
    float: none;
    width: 100%;
    display: block  ;
    margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto    ;
    }
    .con1 .title2 h1{
        text-align: center;
        font-size: 30px;
    }
    .con1 .article .but {
        text-align: center;
    }
    .con1 .article .but {
        padding: 6px 15px;
        font-size: 16px;
    }
    .con1 .social i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}
.galcon{
  



    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
}
.galcon .titel4 h1{
    margin-bottom: 10px;
    
    
}

.galcon .box1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* /* justify-content: space-between ; */
    justify-content: space-between;
    /* border: 2px solid red; */
    /* width: 85%; */
    width: 75%;
    
    /* align-items: self-start; */
    
}
.galcon .box1 .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    transition: 1s;
    /* width: 70%; */
   


}
.galcon .box1 .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    
}
.galcon .box1 .dream .end1{
    align-items: self-end;
}
.galcon .box1 .dream .end2{
    align-items: self-end;
}

.galcon .box1 .dream :hover{
    transform: scale(1.3);
    z-index: 2;
}
 #imf{
    
}

.titel4 h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto; 
}
.contacty ::after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
 

}
.contacty-boxd{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.lefty{
    height: 100%;
background: url("contactus.png") no-repeat center; 
     background-size: cover; 
}
.righty{
    padding: 25px 40px;
}
.righty h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.righty h2::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #c4d156;
}
.fielde{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 3s;
}
.fielde{
    border-radius: 5px;
}
.fielde:hover{
    background-color: rgba(0,0,0,0.1);
}
.fielde:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47) ;
}
.areaa{
    min-height: 150px;

}
 .contactybtns{
    color: #88941e;
 }
.contactybtns:hover{
    background-color: #f28f92;
}
.contactybtns{
    /* width: 110%; */
    width: 40%;
    border-radius: 40px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #88941e;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}
.contacty{
    
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;

}
@media screen and(max-width :880PX) {
    .contacty-boxd{
        grid-template-columns: 1fr;
    }
    .lefty{
        height: 200px;
    }
}
.map
{
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}
.infol{
    /* display: inline;
     text-align: center; 
    justify-content: center; */
    width: 100%;
    justify-content: center;
    text-align: center;
    display: inline-block;
    
    padding-bottom:10px;
} 

 .infol .phone{
    
   display: inline-block;
    text-align: center;
    margin-right: 52px;
   
}
 .infol .E-mail{
    display: inline-block;
    
    margin-right: 52px;
 }
 .infol .Map{
    display: inline-block;
     
    margin-right: 52px;
 }
.infol .getdir{
    display: inline-block;
    
    margin-right: 52px;
 }


.infol .getdir1{
    display: inline-block;
    
    margin-right: 52px;
    
}
.blankline{
    margin-top: 25px;
}
.blankline1{
    margin-top: 25px;   
}
.blankline2{
    margin-top: 10px;
}
.blankline3{
    margin-top: 25px;
}
.blankline4{
    margin-top: 25px;
}
.phonebtn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: white;
    /* background-color:rgb(123, 123, 242); */
    background-color: rgb(73, 170, 209);
    color:white;
   
} 

@media screen and (max-width:768px){
    .box{
           width: 80%;
           display: block;
           margin: auto;
      }
     
  }
  .buttons .btnqu:hover{
    background-color: green;
  }
  #contactscroll{
    padding-top: 25px;
  }
  .copyright::after{
    content: "";
    height: 5px;
    width: 100%;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;  
  }
  .copyr{
    background-color:  #313133;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  #aboutusscroll{
    padding-top: 10px;
  }
  .burger{
  display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
  }
  .line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
  }
  @media only screen and (max-width:1140px){
    .navlistd{
        flex-direction: column;
    }
    .navbar{
        height: 450px;
        flex-direction: column;
        transition: all 0.8s ease;
        
    }
    .box-main{
        flex-direction: column;
        max-width: 100%;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 65px;
    }
    .v-class{
        opacity: 0;
    }
    .updatessupre{
        flex-direction: column;
    }
    .updatessu2{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .updatessu2 video{
        width: 100%;
        height: auto;
        display: block;
        margin: auto    ;
    }
    .dream #imf{
        height: 95px;
    }
    .dream #imf2{
        height: 190px;
    }
   
    .phone{
        flex-direction: column;
    }
    .contactybtns{
        border-radius: 75px;
    }
    /* .infol{
        flex-direction: column;
    } */
     /* .infol .getdir{
        display: inline;
          flex-direction: column;
      } */
    /*  .infol .getdir1{
        display: inline;
          flex-direction: column;
      } 
      .infol .map{
        display: inline;
          flex-direction: column;
      }  */

  }
  
  @media only screen and (max-width:329px){
    .dream #imf{
        height: 44px;
    }
    .dream #imf2{
        height: 86px;
    }
    .contactybtns{
        
        width: 65%;
    }
    /* .infol .getdir{
        display: inline;
          flex-direction: column;
      }
      .infol .getdir1{
        display: inline;
          flex-direction: column;
      } 
      .infol .map{
        display: inline;
          flex-direction: column;
      }  */
      .newtextol{
        margin-left: 50px;
      }
      .copytext1{
        font-size: small;
      }
  }
  @media only screen and (max-width:529px){
    .dream #imf{
        height: 60px;
    }
    .dream #imf2{
        height: 115px;
    }
    .contactybtns{
        width: 70%;
        
    }
  }
  